{% extends 'ClownClownBundle::layout.html.twig' %}

{% block contentBody %}
    <h1>PropType</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Shortname</th>
                <td>{{ entity.shortName }}</td>
            </tr>
            <tr>
                <th>Longname</th>
                <td>{{ entity.longName }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('proptype') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('proptype_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock contentBody %}
